<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.spring.batch.mapper.BatchMapper">

	<select id="selectBoardSum" resultType="dMap" parameterType="dMap">
		SELECT BD_YEAR, BD_MONTH, BD_DAY, BD_GRP, COUNT(*) AS BD_SUM 
		  FROM ( SELECT strftime('%Y', REG_YMDT) AS BD_YEAR, strftime('%m', REG_YMDT) AS BD_MONTH, strftime('%d', REG_YMDT) AS BD_DAY, BD_GRP
			       FROM BOARD 
		<if test="@org.apache.commons.lang.StringUtils@isNotEmpty(boardGrp)">
			      WHERE BD_GRP = #{boardGrp}
		</if>
			   )
		 GROUP BY BD_YEAR, BD_MONTH, BD_DAY, BD_GRP
		 ORDER BY BD_YEAR, BD_MONTH, BD_DAY, BD_GRP
		 LIMIT #{_pagesize} OFFSET #{_skiprows}
	</select>
	
	<insert id="insertBoardSum" parameterType="dMap">
		INSERT OR REPLACE INTO BD_DAILY_SUM 
		       ( BD_YEAR, BD_MONTH, BD_DAY, BD_GRP, BD_SUM, REG_YMDT )
		VALUES ( #{BD_YEAR}, #{BD_MONTH}, #{BD_DAY}, #{BD_GRP}, #{BD_SUM}, DATETIME('now', 'localtime') )
	</insert>
	
</mapper>